{% extends 'stripepayment/basetemplate.html' %}
{% load static %}
{% block content %}
	<style type="text/css">
		h4{
			font-family: 'Fjalla One', sans-serif;
			font-weight: 100;
			font-size: 24px;
		}

		#box{
			max-width: 500px;
			margin:0 auto;
			margin-top: 100px;
			padding:30px;
			background-color: #fff;
			text-align: center;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    border-radius: 4px;
		    border: 1px solid transparent;
		}

		.myButton {
			background-color:#10a195;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Verdana;
			font-size:17px;
			padding:10px;
			width:100%;
			border-radius: 0;
			text-decoration:none;
			text-align: center;
			transition: .3s;
		}
		.myButton:hover {
			opacity: .6;
		}

		#succes-icon{
			width: 100px;
		}
	</style>
	<div id="box">
		<img id="succes-icon" src="{% static 'images/success.png' %}">
		<h4>Thank you for your contribution of ${{amount}}!</h4>
		<p>Your support helps me fulfill my dream of teaching aspiring developers around the world! You should receive a receipt to the email you provided shortly :)</p>
		<hr>
		<a class="myButton" href="{% url 'index' %}">&#x2190;Back to donation page</a>
	</div>

{% endblock content %}